{% extends "web/base.html" %}

{% block headers %}
    <div class="container underline">
    <p class="headers">Log in</p>
    </div>

{% endblock %}

{% block content %}
<main role="main" class="container">
        <div class="row">
            <div class="col-8">
                <div>
                     <form action="{% url "signin" %}" method="post">

                         {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-default">Login</button>
                             </div>
                        </div>

                     </form>
                        <div class="row createaccbutt">
                            <div class="col-6">
                                <a href="{% url "registration" %}"><button type="submit" class="btn btn-default">Create new account</button></a>
                            </div>
                         </div>
                </div>
            </div>
        </div>
</main>


{% endblock %}



{#{% block right-main-content %}#}
{#    {% include "right-content.html" %}#}
{#{% endblock %}#}

{% block bottom %}
{% endblock %}