{% extends "web/base.html" %}

{% block headers %}

    <div class="container underline">
    <p class="headers">Registration</p>
    </div>

{% endblock %}

{% block content %}
<main role="main" class="container">
        <div class="row">
            <div class="col-8">
                <div>

                    <form  action="{% url 'registration' %}" method="post">

                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field }}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <input type="submit" value="Регистрация" class="btn btn-success"/>
                            </div>
                        </fieldset>

                    </form>

                </div>
            </div>
        </div>
</main>



{% endblock %}



{#{% block right-main-content %}#}
{#    {% include "right-content.html" %}#}
{#{% endblock %}#}

{% block bottom %}
{% endblock %}