{% extends "web/base.html" %}

{% block content %}
    {% for post in posts %}
        <ul class="list-group">
            <li class="list-group-item">
                <div class="post">
                    <div class="date", class="top-menu">
                        {{ post.published_date }}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
                </div>
            </li>
        </ul>

    {% endfor %}

    {% block paginator %}
        {% include "web/paginator.html" %}
    {% endblock %}

{% endblock %}