{% extends "web/base.html" %}

{% block content %}
        <main role="main" class="container">
        <div class="row">
            <div class="col-8">
                      <li class="list-group-item">
                                  <div class="post">
                                    {% if post.published_date %}
                                        <div class="date">
                                            {{ post.published_date }}
                                        </div>
                                    {% endif %}

                                    {% if user.is_authenticated %}
                                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><button type="button" class="btn btn-outline-success">Edit</button></a>
                                    {% endif %}
                                    <h1>{{ post.title }}</h1>
                                    <p>{{ post.text|linebreaksbr }}</p>
                                      <p>{{ post.tags }}</p>

                                  <tr>
                    <td align="center">
                        <span>
                             <button class="btn btn-primary btn-lg" data-answer_id="{{ answer.id }}" data-like_type="dislike">dislike</button>
                            {% csrf_token %}
                            <a>{{ answer.rating }}</a>
                            <button class="btn btn-primary btn-lg" data-answer_id="{{ answer.id }}" data-like_type="like">like</button>
                            {% csrf_token %}
                        </span>
                    </td>
                </tr>
                          </li>
                            <hr>

                        <a class="btn btn-default" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>

                        {% for comment in post.comments.all %}
                            {% if user.is_authenticated or comment.approved_comment %}
                            <div class="comment">
                                <div class="date">
                                    {{ comment.created_date }}
                                    {% if not comment.approved_comment %}
                                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
                                    {% endif %}
                                </div>
                                <strong>{{ comment.author }}</strong>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                            {% endif %}
                        {% empty %}
                            <p>No comments here yet :(</p>
                        {% endfor %}
            </div>
        </div>
        </main>


{% endblock %}